body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.quiz-card {
  width: 150px;
  display: block;
  margin: auto;
  padding: 10px;
  flex-flow: row wrap;
  cursor: pointer;
}

.quiz-card:hover {
  opacity: 0.7;
}

.optionButton {
  width: 70%;
  height: 80px;
  margin: 10px;
  border-radius: 12px;
  background-color: white;
  color: black;
  border: 2px solid SlateBlue;
  cursor: pointer;
}

.optionButton:hover {
    background-color: SlateBlue;
    color: white;
}

.optionButton:disabled {
  background-color: white;
  color: black;
  cursor: default;
}

.nextButton {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  background-color: #261c4e ;
  color: white;
}

.nextButton:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.question-text {
  font-size: 2rem;
}

.optionButton {
  transition: background-color 0.5s;
  outline: none;
  font-size: 1.5rem;
}
.optionButton.correct {
  background-color: rgb(183, 238, 183);
}
.optionButton.incorrect {
  background-color: rgb(243, 172, 172);
}

.optionButton.pulsing {
  animation: heartbeat 1s ease-in-out infinite both;

}

@keyframes pulse {
  0% {
    background-color: rgba(0, 128, 0, 0.377);
  }
  50% {
    background-color: rgba(255, 0, 0, 0.397);
  }
  100% {
    background-color: rgba(0, 128, 0, 0.377);
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}